@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --color-primary: #4880FF;
  --color-text: #202224;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* header */

.header
{
  height: 70px;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
}

.header .inner-logo
{
  width: 240px;
  display: flex;
  align-items: center;
}

.header .inner-logo .inner-button-wrapper
{
  /* margin-left + padding-left + iconSize */
  width: calc(24px + 16px + 19px);
  position: relative;
  z-index: 2; /* to prevent the div(inner-logo-content) lie on top of menu-mobile-button */

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .inner-logo .inner-button-wrapper .inner-menu-mobile-button
{
  display: inline-block;
  padding: 0;
  font-size: 24px;
  color: var(--color-text);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button
{
  display: none;
  padding: 0;
  /* font-size: 24px; */
  color: var(--color-text);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.header .inner-logo .inner-button-wrapper .inner-menu-button-background
{
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}

.header .inner-logo .inner-button-wrapper .inner-menu-button-background > i
{
  width: 24px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 3px auto;

  transition: all 0.2s ease-in-out;
}

.header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button.open .inner-menu-button-background i:first-child
{
  transform: rotate(45deg) translate(6px, 6px);
}

.header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button.open .inner-menu-button-background i:nth-child(2)
{
  opacity: 0;
}

.header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button.open .inner-menu-button-background i:last-child
{
  transform: rotate(-45deg) translate(5px, -5px);
}

.header .inner-logo .inner-logo-content-wrapper
{
  flex: 1;

  /* width of div(inner-button-wrapper) */
  margin-left: -57px;
  text-align: center;
  position: relative;
  z-index: 1; /* to prevent the div(inner-logo-content) lie on top of menu-mobile-button */
}

.header .inner-logo .inner-logo-content-wrapper a
{
  font-size: 24px;
  font-weight: 800;
}

.header .inner-logo .inner-logo-content-wrapper a span
{
  color: var(--color-text);
}

.header .inner-wrap
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex: 1;
  margin-right: 30px;
}

.header .inner-wrap .inner-notify
{
  position: relative;
  cursor: pointer;

  top: 5px;
}

.header .inner-wrap .inner-notify img
{
  width: 24px;
  height: auto;
}

.header .inner-wrap .inner-notify span
{
  min-width: 16px;
  height: 16px;
  background-color: #F93C65;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 0 4px;
  border-radius: 25px;

  position: absolute;
  top: -5px;
  right: -4px;
}

.header .inner-wrap .inner-account
{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header .inner-wrap .inner-account .inner-avatar
{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.header .inner-wrap .inner-account .inner-avatar img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header .inner-wrap .inner-account .inner-text
{
  flex: 1;
}

.header .inner-wrap .inner-account .inner-text .inner-name
{
  font-size: 14px;
  font-weight: 700;
  color: #404040;
  margin-bottom: 3px;
}

.header .inner-wrap .inner-account .inner-text .inner-role
{
  font-size: 12px;
  font-weight: 600;
  color: #565656;
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .header .inner-logo .inner-button-wrapper .inner-menu-mobile-button
  {
    display: none;
  }

  .header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button
  {
    display: inline-block;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px)
{
  .header .inner-logo
  {
    width: auto;
    margin-left: 15px;
  }

  .header .inner-wrap
  {
    gap: 15px;
    margin-right: 15px;
  }

  .header .inner-logo .inner-button-wrapper
  {
    justify-content: flex-start;
  }

  .header .inner-logo .inner-logo-content-wrapper
  {
    margin-left: 0;
  }
}

/* End header */


/* sider */

.sider
{
  width: 240px;
  height: calc(100vh - 70px);
  background-color: #fff;
  border-right: 1px solid #E0E0E0;

  position: fixed;
  top: 70px;
  left: 0;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  transition: all 0.1s ease-in-out;
}

.sider:hover
{
  scrollbar-color: #ddd transparent;
}

.sider.close
{
  width: 83px;
}

.sider .inner-menu
{
  list-style-type: none;
  margin: 11px 0;
  padding: 0;
}

.sider > .inner-menu::after
{
  content: "";
  display: block;
  max-width: 215px;
  height: 1px;
  background-color: #E0E0E0;
  position: relative;
  bottom: -8px;
  left: 10px;
}

.sider > .inner-menu:last-child::after
{
  display: none;
}

.sider .inner-menu li a
{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  margin-left: 24px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
  border-radius: 6px;

  position: relative;
  transition: all 0.15s;
}

.sider .inner-menu li a.active
{
  background-color: var(--color-primary);
  color: #fff;
}

.sider .inner-menu li a:hover
{
  background-color: var(--color-primary);
  color: #fff;
}

.sider.close .inner-menu li a
{
  justify-content: center;
}

.sider .inner-menu li a .inner-label
{
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
}

.sider.close .inner-menu li a .inner-label
{
  display: none;
}

.sider .inner-menu li a .inner-icon-wrapper
{
  display: flex;
  justify-content: left;
  align-items: center;

  width: 25px;
  height: 19px;
}

.sider.close .inner-menu li a .inner-icon-wrapper
{
  flex: 1;
}

.sider .inner-menu li a .inner-icon
{
  width: 25px;  /* used for svg icon */
  height: 19px; /* used for svg icon */

  flex-shrink: 0;
}

.sider .inner-menu li a .inner-icon path
{
  fill: var(--color-text);
  transition: fill 0.15s;
}

.sider .inner-menu li a .inner-icon /* used for non-svg icon */
{
  font-size: 18px;
  color: var(--color-text);
  transition: color 0.15s;
  text-align: center;
}

.sider .inner-menu li a:hover .inner-icon path
{
  fill: #fff;
}

.sider .inner-menu li a:hover .inner-icon /* used for non-svg icon */
{
  color: #fff;
}

.sider .inner-menu li a.logout-icon
{
  color: #F93C65;
  transition: all 0.15s;
}

.sider .inner-menu li a.logout-icon:hover
{
  background-color: #F93C65;
  color: #fff;
}

.sider .inner-menu li a.logout-icon .inner-icon path
{
  fill: #F93C65;
  transition: fill 0.15s;
}

.sider .inner-menu li a.logout-icon:hover .inner-icon path
{
  fill: #fff;
}

.sider .inner-menu li a.active .inner-icon path
{
  fill: #fff;
}

.sider .inner-menu li a.active .inner-icon /* used for non-svg icon */
{
  color: #fff;
}

.sider .inner-menu li a.active::before
{
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-primary);

  position: absolute;
  top: 0;
  left: -24px;
  cursor: default;
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .sider
  {
    z-index: 999;
  }

  .sider-overlay
  {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }

  .sider-overlay.open
  {
    opacity: 1;
    visibility: visible;
  }
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .sider
  {
    position: fixed;
    top: 70px;
    left: -100%;
    height: 100%;
    z-index: 999;
    transition: 0.25s ease-in-out;
  }

  .sider.open
  {
    left: 0;    
  }
}

/* End sider */


/* main */

.main
{
  position: absolute;
  top: 70px;
  left: 240px;
  background-color: #F5F6FA;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);

  padding: 30px 30px;

  transition: all 0.1s ease-in-out;
}

.main.close
{
  left: 83px;
  width: calc(100% - 83px);
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .main
  {
    left: 83px;
    width: calc(100% - 83px);
  }
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .main
  {
    left: 0;
    width: 100%;
  }

  .main.close
  {
    left: 0;
    width: 100%;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px)
{
  .main
  {
    padding: 30px 15px;
  }
}

/* End main */


/* box-title */

.box-title
{
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 30px;
}

/* End box-title */


/* loader spinner */

.loader-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 888;

  display: block;
}

.loader-container .loader 
{
  position: fixed;
  width: 60px;
  height: 60px;
  top: calc((70px + (100vh - 70px)/2) - (60px/2));
  left: calc((240px + (100vw - 240px) / 2) - (60px/2));
  z-index: 889;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid #62a8f7;
  border-left: 8px solid #62a8f7;
  transform: rotate(45deg);
  animation: spin-quarter 1s linear infinite;

  transition: all 0.1s;
}

.loader-container .loader.close-1200
{
  left: calc((83px + (100vw - 83px) / 2) - (60px/2));
}

@keyframes spin-quarter 
{
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg); /* 360 + 45 */
  }
}

.loader-container .loader .loader-overlay
{
  width: 100%;
  height: 100%;
  background-color: gray;
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .loader-container .loader
  {
    left: calc((83px + (100vw - 83px) / 2) - (60px/2));
  }
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .loader-container .loader
  {
    left: calc(50% - 60px/2);
  }
}

/* End loader spinner */