@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.layout-admin {
  --color-primary: #4880FF;
  --color-text: #202224;
}

.layout-admin {
  font-family: "Nunito Sans", sans-serif;
}

.layout-admin input,
.layout-admin textarea,
.layout-admin select,
.layout-admin button {
  font-family: "Nunito Sans", sans-serif;
}


/* header */

.layout-admin .header
{
  height: 70px;
  border-bottom: 1px solid #E0E0E0;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  display: flex;
}

.layout-admin .header .inner-logo
{
  width: 240px;
  display: flex;
  align-items: center;
}

.layout-admin .header .inner-logo .inner-button-wrapper
{
  /* margin-left + padding-left + iconSize */
  width: calc(24px + 16px + 19px);
  position: relative;
  z-index: 2; /* to prevent the div(inner-logo-content) lie on top of menu-mobile-button */

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-button
{
  display: inline-block;
  padding: 0;
  font-size: 24px;
  color: var(--color-text);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button
{
  display: none;
  padding: 0;
  /* font-size: 24px; */
  color: var(--color-text);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-button-background
{
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  min-height: 30px;
  justify-content: center;
  align-items: center;
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-button-background > i
{
  width: 24px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 3px auto;

  transition: all 0.2s ease-in-out;
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button.open .inner-menu-button-background i:first-child
{
  transform: rotate(45deg) translate(6px, 6px);
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button.open .inner-menu-button-background i:nth-child(2)
{
  opacity: 0;
}

.layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button.open .inner-menu-button-background i:last-child
{
  transform: rotate(-45deg) translate(5px, -5px);
}

.layout-admin .header .inner-logo .inner-logo-content-wrapper
{
  flex: 1;

  /* width of div(inner-button-wrapper) */
  margin-left: -57px;
  text-align: center;
  position: relative;
  z-index: 1; /* to prevent the div(inner-logo-content) lie on top of menu-mobile-button */
}

.layout-admin .header .inner-logo .inner-logo-content-wrapper a
{
  font-size: 24px;
  font-weight: 800;
}

.layout-admin .header .inner-logo .inner-logo-content-wrapper a span
{
  color: var(--color-text);
}

.layout-admin .header .inner-wrap
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  flex: 1;
  margin-right: 30px;
}

.layout-admin .header .inner-wrap .inner-notify
{
  position: relative;
  cursor: pointer;

  top: 5px;
}

.layout-admin .header .inner-wrap .inner-notify img
{
  width: 24px;
  height: auto;
}

.layout-admin .header .inner-wrap .inner-notify span
{
  min-width: 16px;
  height: 16px;
  background-color: #F93C65;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 0 4px;
  border-radius: 25px;

  position: absolute;
  top: -5px;
  right: -4px;
}

.layout-admin .header .inner-wrap .inner-account
{
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.layout-admin .header .inner-wrap .inner-account .inner-avatar
{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.layout-admin .header .inner-wrap .inner-account .inner-avatar img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout-admin .header .inner-wrap .inner-account .inner-text
{
  flex: 1;
}

.layout-admin .header .inner-wrap .inner-account .inner-text .inner-name
{
  font-size: 14px;
  font-weight: 700;
  color: #404040;
  margin-bottom: 3px;
}

.layout-admin .header .inner-wrap .inner-account .inner-text .inner-role
{
  font-size: 12px;
  font-weight: 600;
  color: #565656;
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-button
  {
    display: none;
  }

  .layout-admin .header .inner-logo .inner-button-wrapper .inner-menu-mobile-only-button
  {
    display: inline-block;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px)
{
  .layout-admin .header .inner-logo
  {
    width: auto;
    margin-left: 15px;
  }

  .layout-admin .header .inner-wrap
  {
    gap: 15px;
    margin-right: 15px;
  }

  .layout-admin .header .inner-logo .inner-button-wrapper
  {
    justify-content: flex-start;
  }

  .layout-admin .header .inner-logo .inner-logo-content-wrapper
  {
    margin-left: 0;
  }
}

/* End header */


/* sider */

.layout-admin .sider
{
  width: 240px;
  height: calc(100vh - 70px);
  background-color: #fff;
  border-right: 1px solid #E0E0E0;

  position: fixed;
  top: 70px;
  left: 0;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  transition: all 0.1s ease-in-out;
}

.layout-admin .sider:hover
{
  scrollbar-color: #ddd transparent;
}

.layout-admin .sider.close
{
  width: 83px;
}

.layout-admin .sider .inner-menu
{
  list-style-type: none;
  margin: 11px 0;
  padding: 0;
}

.layout-admin .sider > .inner-menu::after
{
  content: "";
  display: block;
  max-width: 215px;
  height: 1px;
  background-color: #E0E0E0;
  position: relative;
  bottom: -8px;
  left: 10px;
}

.layout-admin .sider > .inner-menu:last-child::after
{
  display: none;
}

.layout-admin .sider .inner-menu li a
{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  margin-left: 24px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text);
  border-radius: 6px;

  position: relative;
  transition: all 0.15s;
}

.layout-admin .sider .inner-menu li a.active
{
  background-color: var(--color-primary);
  color: #fff;
}

.layout-admin .sider .inner-menu li a:hover
{
  background-color: var(--color-primary);
  color: #fff;
}

.layout-admin .sider.close .inner-menu li a
{
  justify-content: center;
}

.layout-admin .sider .inner-menu li a .inner-label
{
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
}

.layout-admin .sider.close .inner-menu li a .inner-label
{
  display: none;
}

.layout-admin .sider .inner-menu li a .inner-icon-wrapper
{
  display: flex;
  justify-content: left;
  align-items: center;

  width: 25px;
  height: 19px;
}

.layout-admin .sider.close .inner-menu li a .inner-icon-wrapper
{
  flex: 1;
}

.layout-admin .sider .inner-menu li a .inner-icon
{
  width: 25px;  /* used for svg icon */
  height: 19px; /* used for svg icon */

  flex-shrink: 0;
}

.layout-admin .sider .inner-menu li a .inner-icon path
{
  fill: var(--color-text);
  transition: fill 0.15s;
}

.layout-admin .sider .inner-menu li a .inner-icon /* used for non-svg icon */
{
  font-size: 18px;
  color: var(--color-text);
  transition: color 0.15s;
  text-align: center;
}

.layout-admin .sider .inner-menu li a:hover .inner-icon path
{
  fill: #fff;
}

.layout-admin .sider .inner-menu li a:hover .inner-icon /* used for non-svg icon */
{
  color: #fff;
}

.layout-admin .sider .inner-menu li a.logout-icon
{
  color: #F93C65;
  transition: all 0.15s;
}

.layout-admin .sider .inner-menu li a.logout-icon:hover
{
  background-color: #F93C65;
  color: #fff;
}

.layout-admin .sider .inner-menu li a.logout-icon .inner-icon path
{
  fill: #F93C65;
  transition: fill 0.15s;
}

.layout-admin .sider .inner-menu li a.logout-icon:hover .inner-icon path
{
  fill: #fff;
}

.layout-admin .sider .inner-menu li a.active .inner-icon path
{
  fill: #fff;
}

.layout-admin .sider .inner-menu li a.active .inner-icon /* used for non-svg icon */
{
  color: #fff;
}

.layout-admin .sider .inner-menu li a.active::before
{
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-primary);

  position: absolute;
  top: 0;
  left: -24px;
  cursor: default;
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .layout-admin .sider
  {
    z-index: 999;
  }

  .layout-admin .sider-overlay
  {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
    height: calc(100% - 70px);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.15s ease-in-out;
  }

  .layout-admin .sider-overlay.open
  {
    opacity: 1;
    visibility: visible;
  }
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .layout-admin .sider
  {
    position: fixed;
    top: 70px;
    left: -100%;
    height: 100%;
    z-index: 999;
    transition: 0.25s ease-in-out;
  }

  .layout-admin .sider.open
  {
    left: 0;    
  }
}

/* End sider */


/* main */

.layout-admin .main
{
  position: absolute;
  top: 70px;
  left: 240px;
  background-color: #F5F6FA;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);

  padding: 30px 30px;

  transition: all 0.1s ease-in-out;
}

.layout-admin .main.close
{
  left: 83px;
  width: calc(100% - 83px);
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .layout-admin .main
  {
    left: 83px;
    width: calc(100% - 83px);
  }
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .layout-admin .main
  {
    left: 0;
    width: 100%;
  }

  .layout-admin .main.close
  {
    left: 0;
    width: 100%;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px)
{
  .layout-admin .main
  {
    padding: 30px 15px;
  }
}

/* End main */


/* box-title */

.layout-admin .box-title
{
  margin-top: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text);
  margin-bottom: 30px;
}

/* End box-title */


/* loader spinner */

.layout-admin .loader-container
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 888;

  display: block;
}

.layout-admin .loader-container .loader 
{
  position: fixed;
  width: 60px;
  height: 60px;
  top: calc((70px + (100vh - 70px)/2) - (60px/2));
  left: calc((240px + (100vw - 240px) / 2) - (60px/2));
  z-index: 889;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top: 8px solid #62a8f7;
  border-left: 8px solid #62a8f7;
  transform: rotate(45deg);
  animation: spin-quarter 1s linear infinite;

  transition: all 0.1s;
}

.layout-admin .loader-container .loader.close-1200
{
  left: calc((83px + (100vw - 83px) / 2) - (60px/2));
}

@keyframes spin-quarter 
{
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg); /* 360 + 45 */
  }
}

.layout-admin .loader-container .loader .loader-overlay
{
  width: 100%;
  height: 100%;
  background-color: gray;
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .layout-admin .loader-container .loader
  {
    left: calc((83px + (100vw - 83px) / 2) - (60px/2));
  }
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .layout-admin .loader-container .loader
  {
    left: calc(50% - 60px/2);
  }
}

/* End loader spinner */


/* section-action-tools */

.layout-admin .section-action-tools 
{
  margin-bottom: 30px;
}

.layout-admin .section-action-tools .inner-wrap 
{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 15px 20px;

  min-height: 70px;
}

.layout-admin .section-action-tools .inner-change-status 
{
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #D5D5D5;
  background-color: #FFFFFF;
  border-radius: 14px;
  overflow: hidden;
}

.layout-admin .section-action-tools .inner-change-status .inner-item 
{
  padding: 23.75px 24px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid #D5D5D5;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.layout-admin .section-action-tools .inner-change-status .inner-item:last-child 
{
  border-right: 0;
  transition: all 0.15s;
}

.layout-admin .section-action-tools .inner-change-status .inner-item:last-child:hover
{
  background-color: rgba(240, 240, 240, 0.8);
  cursor: pointer;
}

.layout-admin .section-action-tools .inner-change-status .inner-item select 
{
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  border: 0;
  outline: none;
  cursor: pointer;
}

.layout-admin .section-action-tools .inner-change-status .inner-item button 
{
  font-weight: 700;
  color: #EA0234;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  transition: background-color 0.15s;
}

.layout-admin .section-action-tools .inner-search 
{
  background-color: #fff;
  border: 1px solid #E2E2E2;
  border-radius: 14px;
  padding: 0 24px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  width: 366px;

  min-height: 42px;
  height: 100%;
}

.layout-admin .section-action-tools .inner-search i 
{
  font-size: 20px;
}

.layout-admin .section-action-tools .inner-search input 
{
  border: 0;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  flex: 1;
}

.layout-admin .section-action-tools .inner-search input::placeholder 
{
  color: #979797;
}

/* box-search */

.box-search 
{
  position: relative;
}

.box-search .inner-suggest 
{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 998;
  overflow-y: auto;
  display: none;
}

.box-search .inner-suggest.show 
{
  display: block;
}

.box-search .inner-suggest .inner-item
{
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}

.box-search .inner-suggest .inner-item:hover 
{
  background: #efefef;
  text-decoration: none;
}

.box-search .inner-suggest .inner-item:last-child 
{
  border-bottom: 0;
}

.box-search .inner-suggest .inner-item .inner-image 
{
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow: hidden;
}

.box-search .inner-suggest .inner-item .inner-image img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-search .inner-suggest .inner-item .inner-info
{
  flex: 1;
  /* margin-left: 10px; */
}

.box-search .inner-suggest .inner-item .inner-info .inner-title 
{
  /* white-space: pre-wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #4d007d;
}

/* End box-search */

.layout-admin .section-action-tools .inner-button-create button, .layout-admin .section-action-tools .inner-button-create a
{
  background-color: var(--color-primary);
  border-radius: 14px;
  opacity: 0.9;
  padding: 0 28px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  height: 100%;
  border: 0;
  cursor: pointer;

  min-height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.15s;
}

.layout-admin .section-action-tools .inner-button-create button i, .layout-admin .section-action-tools .inner-button-create a i
{
  margin-right: 5px;
}

.layout-admin .section-action-tools .inner-button-create button:hover, .layout-admin .section-action-tools .inner-button-create a:hover
{
  background-color: #004cff;;
}

.layout-admin .section-action-tools .inner-button-trash button, .layout-admin .section-action-tools .inner-button-trash a
{
  background-color: #EF382633;
  border-radius: 14px;
  opacity: 0.9;
  padding: 0 28px;
  font-weight: 700;
  font-size: 14px;
  color: #EF3826;
  height: 100%;
  border: 0;
  cursor: pointer;

  min-height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: all 0.15s;
}

.layout-admin .section-action-tools .inner-button-trash button i, .layout-admin .section-action-tools .inner-button-trash a i
{
  margin-right: 5px;
}

.layout-admin .section-action-tools .inner-button-trash button:hover, .layout-admin .section-action-tools .inner-button-trash a:hover
{
  background-color: rgba(255, 17, 68, 0.4);
  color: rgb(164, 14, 0);
}

/* smaller than 992 */
@media (max-width: 991.98px)
{
  .layout-admin .section-action-tools .inner-change-status .inner-item 
  {
    padding: 10px 14px;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px) 
{
  .layout-admin .section-action-tools .inner-search 
  {
    width: 100%;
  }
}

/* End section-action-tools */


/* table-two */

.layout-admin .table-two
{
  overflow-x: auto;
}

.layout-admin .table-two table
{
  background-color: #fff;

  border: 1px solid #B9B9B9;
  border-spacing: 0;

  border-radius: 14px;
  overflow: hidden;
  width: 100%;

  min-width: 1141px;
}

.layout-admin .table-two table thead tr th 
{
  border-bottom: 1px solid #D5D5D5;
  background-color: #FCFDFD;
  padding: 14px;
  font-weight: 800;
  font-size: 14px;
  color: var(--color-text);
  text-align: left;
}

.layout-admin .table-two table .inner-center 
{
  text-align: center;
}

.layout-admin .table-two table .inner-check 
{
  width: 20px;
  height: 20px;
}

.layout-admin .table-two table tbody tr
{
  transition: background-color 0.05s;
}

.layout-admin .table-two table tbody tr:hover
{
  background-color: rgba(240, 240, 240, 0.8);
}

.layout-admin .table-two table tbody tr td 
{
  border-bottom: 1px solid #D5D5D5;
  padding: 8px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  max-width: 225px;
}

.layout-admin .table-two table tbody tr:last-child td 
{
  border-bottom: 0;
}

.layout-admin .table-two table tbody tr td .inner-avatar 
{
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.layout-admin .table-two table tbody tr td .inner-time 
{
  font-size: 12px;
}

.layout-admin .table-two table tbody tr td .inner-buttons 
{
  display: inline-flex;
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  background-color: #FAFBFD;
  
  overflow: hidden;
}

.layout-admin .table-two table tbody tr td .inner-buttons button,
.layout-admin .table-two table tbody tr td .inner-buttons a
{
  font-size: 15px;
  padding: 8.5px 16.5px;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-right: 1px solid #D5D5D5;

  transition: all 0.15s;
}

.layout-admin .table-two table tbody tr td .inner-buttons button:last-child,
.layout-admin .table-two table tbody tr td .inner-buttons a:last-child
{
  border-right: 0;
}

.layout-admin .table-two table tbody tr td .inner-buttons .inner-edit 
{
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.layout-admin .table-two table tbody tr td .inner-buttons .inner-edit:hover
{
  background-color: rgba(248, 252, 0, 0.4);
}

.layout-admin .table-two table tbody tr td .inner-buttons .inner-delete 
{
  color: #EF3826;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.layout-admin .table-two table tbody tr td .inner-buttons .inner-delete:hover
{
  background-color: rgba(255, 17, 68, 0.4);
  color: rgb(164, 14, 0);
}

.layout-admin .table-two table tbody tr td .inner-buttons .inner-undo:hover
{
  background-color: rgba(0, 182, 155, 0.2);;
}

.layout-admin .table-two .inner-code 
{
  font-weight: 700;
  font-size: 14px;
  color: #4880FF;
}

.layout-admin .table-two .inner-list 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout-admin .table-two .inner-item 
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.layout-admin .table-two .inner-item .inner-image 
{
  width: 76px;
  height: 76px;
  border-radius: 6px;
  overflow: hidden;
}

.layout-admin .table-two .inner-item .inner-image img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout-admin .table-two .inner-item .inner-content 
{
  flex: 1;
}

.layout-admin .table-two .inner-item .inner-content .inner-name 
{
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.layout-admin .table-two .inner-item .inner-content .inner-quantity 
{
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  margin-top: 3px;
}

/* End table-two */


/* section-crud */

.layout-admin .section-crud 
{
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 14px;
  padding: 50px;
}

.layout-admin .section-crud form 
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.layout-admin .section-crud form .inner-group 
{
  position: relative;
}

.layout-admin .section-crud form .inner-group .just-validate-error-label 
{
  position: absolute;
  top: 104%;
  left: 0;
  font-size: 12px;
  margin-top: 3px;
  color: #EF3826 !important;
}

.layout-admin .section-crud form .inner-group .inner-label 
{
  display: block;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 14px;
  color: #606060;
}

.layout-admin .section-crud form .inner-group input,
.layout-admin .section-crud form .inner-group select,
.layout-admin .section-crud form .inner-group textarea 
{
  background-color: #F5F6FA;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  width: 100%;
  height: 52px;
  padding: 0 22px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
  outline: none;
}

.layout-admin .section-crud form .inner-group .just-validate-error-field 
{
  border-color: #EF3826 !important;
}

.layout-admin .section-crud form .inner-group .just-validate-success-field
{
  border-color: #00B69B !important;
}

.layout-admin .section-crud form .inner-group textarea 
{
  height: 160px;
  padding-top: 18px;
}

.layout-admin .section-crud form .inner-two-columns
{
  grid-column: span 2;
}

.layout-admin .section-crud form .inner-button 
{
  text-align: center;
}

.layout-admin .section-crud form .inner-button button 
{
  width: 274px;
  height: 56px;
  background-color: var(--color-primary);
  opacity: 0.9;
  border: 0;
  outline: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.layout-admin .section-crud form .inner-button button:hover 
{
  opacity: 1;
}

.layout-admin .section-crud .inner-back 
{
  text-align: center;
  margin-top: 30px;
}

.layout-admin .section-crud .inner-back a 
{
  font-weight: 700;
  font-size: 18px;
  color: var(--color-primary);
  text-decoration: underline;
}

.layout-admin .section-crud form .inner-input-list 
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.layout-admin .section-crud form .inner-input-item 
{
  display: flex;
  align-items: center;
  gap: 20px;
}

.layout-admin .section-crud form .inner-input-item label 
{
  font-weight: 600;
  font-size: 14px;
  color: #606060;
  width: 89px;
}

.layout-admin .section-crud form .inner-input-item input 
{
  flex: 1;
}

.layout-admin .section-crud form .inner-checkbox-list 
{
  border: 1px solid #D5D5D5;
  background-color: #F5F6FA;
  border-radius: 4px;
  padding: 14px 23px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 166px;
  overflow-y: auto;
}

.layout-admin .section-crud form .inner-checkbox-item 
{
  display: flex;
  align-items: center;
  gap: 14px;
}

.layout-admin .section-crud form .inner-checkbox-item input 
{
  width: 20px;
  height: 20px;
  margin: 0;
}

.layout-admin .section-crud form .inner-checkbox-item label 
{
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-list 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-item 
{
  border: 1px solid #D5D5D5;
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-head 
{
  display: flex;
  gap: 15px;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-button 
{
  width: 52px;
  height: 52px;
  border: 1px solid #D5D5D5;
  background-color: #F5F6FA;
  border-radius: 4px;
  font-size: 18px;
  color: #A6A6A6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-button.inner-move 
{
  cursor: move;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-button.inner-remove 
{
  color: #EF3826;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-item.hidden .inner-schedule-button.inner-more i::before
{
  content: "\f106";
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-head input 
{
  flex: 1;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-body 
{
  margin-top: 15px;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-item.hidden .inner-schedule-body
{
  display: none;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-body textarea 
{
  height: 300px;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-create 
{
  background-color: #D5D5D5;
  border-radius: 4px;
  opacity: 0.9;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
}

.layout-admin .section-crud form .inner-schedule .inner-schedule-create i
{
  margin-right: 5px;
}

.layout-admin .section-crud form .inner-order-list 
{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.layout-admin .section-crud form .inner-order-item 
{
  display: flex;
  gap: 12px;
}

.layout-admin .section-crud form .inner-order-image 
{
  width: 115px;
  height: 115px;
  border-radius: 6px;
  overflow: hidden;
}

.layout-admin .section-crud form .inner-order-image img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout-admin .section-crud form .inner-order-content 
{
  flex: 1;
}

.layout-admin .section-crud form .inner-order-name 
{
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.layout-admin .section-crud form .inner-order-text 
{
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  margin-top: 3px;
}

.layout-admin .section-crud form .inner-order-total 
{
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.layout-admin .section-crud form .inner-order-price 
{
  font-weight: 700;
  color: #EF3826;
}

.layout-admin .section-crud form .inner-upload-image 
{
  width: 150px;
  height: 150px;
}

.layout-admin .section-crud form .inner-upload-image .filepond--credits 
{
  display: none;
}

.layout-admin .section-crud form .inner-upload-image .filepond--root 
{
  margin-bottom: 0;
  height: 100% !important;
}

.layout-admin .section-crud form .inner-upload-image .filepond--drop-label 
{
  min-height: 100%;
  cursor: pointer;
}

.layout-admin .section-crud form .inner-upload-image .filepond--drop-label label 
{
  font-weight: 500;
  font-size: 50px;
  color: var(--color-text);
  cursor: pointer;
}

.layout-admin .section-crud form .inner-upload-image .filepond--panel-root 
{
  border: 1px solid #D5D5D5;
  background-color: #F5F6FA !important;
  border-radius: 4px;
}

.layout-admin .section-crud form .inner-upload-image .filepond--file-info 
{
  display: none;
}

.layout-admin .section-crud form .inner-upload-image .filepond--action-remove-item 
{
  background: #F93C65;
  width: 22px;
  height: 22px;
  top: 0;
  left: calc(50% - 11px);
  cursor: pointer;
}

.layout-admin .section-crud form .inner-upload-image-multi .filepond--root 
{
  width: 300px;
  max-height: 600px;
}

/* smaller than 768 */
@media (max-width: 767.98px)
{
  .layout-admin .section-crud
  {
    padding: 20px;
  }

  .layout-admin .section-crud form
  {
    grid-template-columns: 1fr;
  }

  .layout-admin .section-crud form .inner-two-columns
  {
    grid-column: span 1;
  }
}

/* smaller than 576 */
@media (max-width: 575.98px) 
{
  .layout-admin .section-crud form .inner-schedule .inner-schedule-head 
  {
    flex-wrap: wrap;
  }

  .layout-admin .section-crud form .inner-schedule .inner-schedule-head input 
  {
    flex: none;
    width: 100%;
    order: 1;
  }
}

/* End section-crud */


/* section-page-control */

.layout-admin .section-page-control 
{
  display: flex;
  align-items: center;
  gap: 20px;
}

.layout-admin .section-page-control .inner-label 
{
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.layout-admin .section-page-control .inner-pagination 
{
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  background-color: #FAFBFD;
  outline: none;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

/* End section-page-control */


/* section-table-categories-page */

.layout-admin .section-table-categories-page
{
  margin-bottom: 15px;
}

/* End section-table-categories-page */


/* section-table-products-page */

.layout-admin .section-table-products-page
{
  margin-bottom: 15px;
}

/* End section-table-products-page */